<!DOCTYPE html>
<html>

<head>

    <title>Visitor Management Form</title>
    <meta name="viewport" content="width=500px, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/webjava.js"></script>
    <script src="./static/imageLib.js"></script>
</head>

<body>
    <div class="main-block">
        <div class="left-part">
            <i class="fa fa-book" style="font-size: 50px;;"></i>
            <h1>Visitor Management Form</h1>
        </div>
        <div>
            <img id="img_card" src=#{card_img} style='display:block;' width='500' height='300'/>
            <a id='download-img' href=#{card_img} download onclick='thankYou()'>Download</a>
        </div>
        
    </div>
</body>

</html>